<li class="%%GLOBAL_AlternateClass%%">
    <div class="ProductImage QuickView" data-product="%%GLOBAL_ProductId%%">
        <div class="blur-color"></div>
        %%GLOBAL_ProductThumb%%
        <div class="ProductActionAdd" style="display:%%GLOBAL_HideActionAdd%%;">
            <a href="%%GLOBAL_ProductURL%%" class="btn icon-%%GLOBAL_ProductAddText%%" title="%%GLOBAL_ProductAddText%%">%%GLOBAL_ProductAddText%%</a>
        </div>
    </div>
    <div class="ProductDetails">
        <a href="%%GLOBAL_ProductLink%%" class="%%GLOBAL_SearchTrackClass%% pname">%%GLOBAL_ProductName%%</a>
    </div>
    <em class="p-price">%%GLOBAL_ProductPrice%%</em>
    <div class="ProductPriceRating">
        <span class="Rating Rating%%GLOBAL_ProductRating%%">
            <img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.png" alt="" style="%%GLOBAL_HideProductRating%%" />
        </span>
    </div>
    <div class="ProductCompareButton" style="display:%%GLOBAL_HideCompareItems%%">
        <input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_%%GLOBAL_ProductId%%" value="%%GLOBAL_ProductId%%" onclick="product_comparison_box_changed(this.checked)" /> <label for="compare_%%GLOBAL_ProductId%%">%%LNG_Compare%%</label> <br>
    </div>
</li>