
<div class="PinterestButtonContainer">
	<a href="http://pinterest.com/pin/create/button/?url=%%GLOBAL_CurrentProductLink%%&media=%%GLOBAL_InitialZoomImage%%&description=%%GLOBAL_PinterestButtonDescription%% (%%GLOBAL_CurrentProductLink%%)" data-pin-do="buttonPin" target="_blank">
		<img src="../../../custom/pinit3.png" alt="Pin It" />
	</a>
</div>