%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="row">
                        <div class="col-md-12" id="LayoutColumn1">
                            <h1 class="TitleHeading">%%LNG_ForbiddenAccessPage%%</h1>
                            <div class="BlockContent full-width">
                                <p class="txt24">
                                    %%LNG_NoPermissionToAccessThisPage%%
                                </p>
                                <p>%%GLOBAL_Contact%%</p>
                                <a href="%%GLOBAL_ShopPath%%/">%%LNG_ReturnToHomepage%%</a>
                            </div>
                            %%Banner.BottomBanner%%
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>