%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    %%Panel.AccountDownloadItemsBreadcrumb%%
                    <div class="row">
                        <h1 class="TitleHeading">%%LNG_YourAccount%%</h1>
                        <div class="col-md-3" id="LayoutColumn1">
                            %%Panel.SideAccountMenu%%
                            %%Panel.SideAccountStoreCredit%%
                        </div>
                        <div class="col-md-9" id="LayoutColumn2">
                            <div class="Block">
                                <h3>%%GLOBAL_DownloadTitle%%</h3>
                                <div class="BlockContent">
                                    %%Panel.AccountDownloadItems%%
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>