%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    %%Panel.NewsBreadcrumb%%
                    <h1 class="TitleHeading">%%GLOBAL_BlogPageTitle%%</h1>
                    <div class="Left equalize" id="LayoutColumn1">
                        %%Panel.BlogRecentPosts%%
                    </div>
                    <div class="Content equalize" id="LayoutColumn2">
                        %%Panel.PostContent%%
                        %%Panel.PostComments%%
                        %%Panel.NewsComments%%
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>