%%Panel.HTMLHead%%
    <body>
        <script type="text/javascript" src="%%GLOBAL_TPL_PATH%%/js/cart.js?%%GLOBAL_JSCacheToken%%"></script>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main ">
                <div class="container">
                    <div class="Content Widest Cart_page" id="LayoutColumn1">
                        %%Panel.CartBreadcrumb%%
                        %%Panel.CartHeader%%
                        <div class="fullwidth">
                            %%Panel.CartStatusMessage%%
                            %%Panel.CartContent%%
                            %%Panel.SuggestiveCartContent%%
                            <div class="CartCode cf">
                                %%Panel.CartCouponCodeBox%%
                                %%Panel.CartGiftCertificateCodeBox%%
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
