%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    %%Panel.CategoryBreadcrumb%%
                    <div class="productlist-page">
                        %%Banner.TopBanner%%
                        %%Panel.CategoryHeading%%
                        <button class="js-faceted-search-action btn">%%LNG_FilterBy%%</button>
                        <div class="Left js-faceted-search-column">
                            %%SNIPPET_SubCategories%%
                            %%Panel.FacetedSearch%%
                        </div>
                        <div class="Content Wide %%GLOBAL_ExtraCategoryClass%%" id="LayoutColumn1">
                            <div class="product-nav">
                                %%SNIPPET_CategorySortBox%%
                                %%Panel.CategoryPagingTop%%
                                <div class="clear"></div>
                            </div>
                            %%Panel.CategoryContent%%
                        </div>
                        %%Banner.BottomBanner%%
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
