%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <br>
                    <div class="Content Widest" id="LayoutColumn1">
                        <div class="full-width">
                            <div class="Block">
                                <h2>%%LNG_HC_payfororder%%</h2>
                                <div class="BlockContent">
                                    %%GLOBAL_PaymentFormContent%%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>