%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="Content Widest" id="LayoutColumn1">
                        %%Panel.CompareBreadcrumb%%
                        <h1 class="TitleHeading">%%LNG_ProductComparison%%</h1>
                        <div class="fullwidth">
                            %%Panel.CompareContent%%
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>