%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="Content Widest" id="LayoutColumn1">
                        <div class="Block">
                            <h1 class="TitleHeading">%%LNG_CreateAccountThanks%%</h1>
                            <div class="BlockContent full-width">
                                <p class="mtm">%%LNG_CreateAccountThanksIntro%%</p>
                                <a class="btn m-t-20" href="%%GLOBAL_ContinueLink%%">%%GLOBAL_Continue%%</a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>