%%Panel.HTMLHead%%
    <body id="home">
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="row">
                        <div class="col-md-12" id="LayoutColumn1">
                            %%Panel.HomeSlideShow%%
                            %%Banner.TopBanner%%
                            %%Discount.FreeShippingEligibility%%
                            %%Panel.HomeFeaturedProducts%%
                            %%Panel.SideTopSellers%%
                            %%Panel.HomeNewProducts%%
                            %%Banner.BottomBanner%%
                        </div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>