%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="Content Widest" id="LayoutColumn1">
                        <div class="Block">
                            <h1 class="TitleHeading">%%GLOBAL_MessageTitle%%</h1>
                            <div class="BlockContent full-width">
                                <p class="InfoMessage">
                                    %%GLOBAL_MessageText%%
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>