%%Panel.HTMLHead%%
    <script type="text/javascript" src="%%GLOBAL_CdnAppPath%%/javascript/jquery/plugins/jCarousel/jCarousel.js?%%GLOBAL_JSCacheToken%%"></script>
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="Content Widest" id="LayoutColumn2">
                        <div class="Block">
                            <h1 class="TitleHeading">%%LNG_ThanksForYourOrder%%%%GLOBAL_CustomerName%%</h1>
                            <div class="BlockContent full-width">
                                <p class="ErrorMessage" style="display:%%GLOBAL_HideError%%">
                                    %%GLOBAL_ErrorMessage%%
                                </p>

                                <div style="display:%%GLOBAL_HidePaidOrderConfirmation%%">
                                    <div class="NotifyMessage">
                                        <p><span>%%LNG_YourOrderNumber%%</span> <a href="%%GLOBAL_ShopPath%%/account.php?action=view_order&order_id=%%GLOBAL_OrderId%%">%%GLOBAL_OrderId%%</a></p>

                                        <p style="display:%%GLOBAL_HidePhysicalOrderConfirmation%%">
                                            %%GLOBAL_PhysicalOrderConfirmation%%
                                        </p>

                                        <p style="display:%%GLOBAL_HideDigitalOrderConfirmation%%">
                                            %%GLOBAL_DigitalOrderConfirmation%%
                                        </p>
                                        <p style="display:%%GLOBAL_HideDigitalOrderDownloadLink%%">
                                            <br>
                                            <a href="%%GLOBAL_ViewFullOrderPath%%">%%LNG_DownloadTheItemsYouOrdered%%</a>
                                        </p>
                                    </div>
                                </div>

                                <div style="display: %%GLOBAL_HideAwaitingPayment%%">
                                    <p class="SuccessMessage" style="display:%%GLOBAL_HideSuccess%%">
                                        %%LNG_JustSentAnEmailConfirmation%%
                                    </p>
                                    %%LNG_OrderAwaitingPayment%%
                                </div>

                                %%GLOBAL_OrderConfirmationDetails%%
                                %%SNIPPET_OfflinePaymentMessage%%
                            </div>
                        </div>
                        <div class="full-width">
                            %%Panel.ShareProductById%%
                            %%Panel.SimilarMultiProductsByCustomerViews%%
                            <div style="clear:both;">
                                <p><a href="%%GLOBAL_ShopPath%%" class="btn alt">%%GLOBAL_ContinueShoppingOnStoreName%%</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
            <!-- Include the conversion tracking code for all analytics packages -->
            %%GLOBAL_ConversionCode%%
        </div>
    </body>
</html>