%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    %%Panel.PageBreadcrumb%%
                    <h1 class="TitleHeading">%%GLOBAL_PageTitle%%</h1>
                    <div class="Left" id="LayoutColumn1">
                        %%Panel.SideSubPageList%%
                    </div>
                    <div class="Content" id="LayoutColumn2">
                        <div class="BlockContent PageContent">
                            
                            %%GLOBAL_PageContent%%
                            
                        </div>
                        %%Panel.PageComments%%
                        %%Banner.BottomBanner%%
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
