%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    <div class="Content Widest" id="LayoutColumn1">
                        <br>
                        <h1 class="TitleHeading">%%LNG_HC_searchresults%%</h1>
                        <div class="full-width">
                            %%Banner.TopBanner%%
                            %%Panel.SearchPageHeader%%
                            %%Panel.SearchPage%%
                            %%Banner.BottomBanner%%
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
