%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="container">
                    %%Panel.WrapperBanner%%
                    %%Panel.SitemapBreadcrumb%%
                    <h1 class="TitleHeading"><span>%%GLOBAL_StoreName%% %%LNG_Sitemap%%</span></h1>
                    <div class="full-width">
                        <div class="Content Widest ptm" id="LayoutColumn1">
                            <p class="txt24">%%LNG_SitemapIntroduction%%</p>
                            %%Panel.SitemapContent%%
                            %%Panel.SideBrandTagCloud%%
                            %%Banner.BottomBanner%%

                        </div>
                        <div class="clear"></div>
                    </div>


                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>