<div class="facebookandtestimonial">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="facebook-page">
					<h4>FACEBOOK /</h4>
					<div class="fb-page" data-href="https://www.facebook.com/aboutneverlookback/" data-tabs="timeline" data-width="350" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/aboutneverlookback/"><a href="https://www.facebook.com/aboutneverlookback/">Never Look Back</a></blockquote></div></div>
				</div>
			</div>
			<div class="col-md-6 testimonial_side">
				
				<div class="details">
					<h4> TESTIMONIAL /</h4>
					<div class="testimonials">
						
						
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  	<ol class="carousel-indicators">
							    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
							    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						  	</ol>

						  <!-- Wrapper for slides -->
						  	<div class="carousel-inner" role="listbox">
							    <div class="item active">
							      	<p>" LOVE LOVE LOVE my Never Look Back gym gear. The clothing is comfortable, it lasts and best of all it makes me look and feel fantastic. You definitely get more than what you pay for and better still it’s all Australian made and the quality is excellent. "</p>
							      	<span>- Jessica Randle</span>
							    </div>
							    <div class="item">
							      	<p>" I purchased my first top 20 months ago and it still looks like brand new.  No fading or shrinkage.  I sweat a lot when I exercise and the great thing about these tops is they are lightweight and allow your skin to breath.  I have added several more tops of different styles and colours to my wardrobe! "</p>
							      	<span>- Joanne Forbes</span>
							    </div>
							    <div class="item">
							      	<p>" I purchased my first pair of tights 5 months ago.  My workouts at the gym consist of cycle classes, weight sessions, boxing, Med Fit and Core classes as well as Personal Training sessions.  It is therefore important to me that I have comfortable tights to cover a range of workouts.  When I received my NLB tights they looked quite small and my initial thoughts were “I’m never going to be able to get them on!” But they were easy to get in to and give you a nice shape without being constrictive and best of all they don’t become transparent like some leggings do once you put them on.  I’m very impressed with the quality and fit of my tights, super comfortable to wear. "</p>
							      	<span>- Debbie Smith</span>
							    </div>
						        <div class="item">
							      	<p>" Never Look Back provides gym wear to "the everyday woman".
							      	Never Look Back gym wear gave me the opportunity to go the gym and work towards my fitness goals without feeling self conscious.
							      	The stigma of having to be "the perfect woman", does not come with this clothing, you do not have to be eighteen years old or a size 8 to wear this gym wear clothing.
							      	Never Look Back lets me look and feel fanstastic while training even though I'm not that "perfect size".
							      	The quality of this clothing is as good as it looks on, I have washed my gym wear so many times now and to my amazement unlike other brands it hasnt stretched or lost its shape, my clothes fit exactly as well as they did the first time I put them on.I highly recommend Never Look Back. "</p>
							      	<span>- Stacey Bugeja</span>
							    </div>

						  	</div>

						  <!-- Controls -->
						  	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
							    <i class="fa fa-hand-o-left"></i>
						  	</a>
						  	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
							    <i class="fa fa-hand-o-right"></i>
						  	</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>