<div class="footer">
    <div class="inner">
        
        %%Panel.FacebookandTestimonial%%
        %%Panel.SideNewsletterBox%%

        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 footer__col">
                        <h4>FURTHER INFO</h4>%%Panel.PagesMenu%%
                    </div>
                    <div class="col-xs-6 col-sm-3 footer__col">
                        %%Panel.FooterCategoryList%%
                    </div>
                    <div class="col-xs-6 col-sm-3 footer__col">
                        <!-- %%Panel.BrandList%% -->
                        %%Panel.HomeRecentBlogs%%
                    </div>
                    <div class="col-xs-6 col-sm-3 footer__col">
                        <h4>CONNECT WITH US</h4>%%Panel.SocialLinks%%
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-links">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <span id="currencyPrices"><!-- %%GLOBAL_AllPricesAreInCurrency%%. %%SNIPPET_SitemapLink%% --></span> &copy; Copyright %%GLOBAL_Year%% %%GLOBAL_StoreName%%. 
                           
                            <span class="powered-by"><!-- %%GLOBAL_PoweredBy%% -->Ecommerce solution by: <a href="http://cleverlocal.com">CLEVERLOCAL</a> </span>
                        </p>
                        %%GLOBAL_DebugDetails%%
                    </div> 
               </div>
            </div>
        </div>
    </div>
</div>

<script src="%%GLOBAL_TPL_PATH%%/js/default.js"></script>

%%GLOBAL_DesignModeHTML%%
%%GLOBAL_QueryList%%
%%GLOBAL_DesignModeScriptTag%%
%%GLOBAL_LiveChatFooterCode%%



%%GLOBAL_FooterScripts%%
%%GLOBAL_PinterestJS%%
%%SNIPPET_FastCartThickBoxJs%%
