<div class="Block Moveable Panel" id="ForgotPasswordForm">
	<h1 class="TitleHeading">%%LNG_ChangeYourPassword%%</h1>
	<div class="BlockContent full-width">
		<p>
			%%LNG_ForgotPasswordIntro%%
		</p>

		<p class="ErrorMessage" style="display: %%GLOBAL_HideForgotPasswordError%%">
			%%GLOBAL_ErrorMessage%%
		</p>
		<form action="%%GLOBAL_ShopPath%%/login.php?action=send_password_email" method="post" onsubmit="return check_forgot_password_form()">
			<div class="FormContainer HorizontalFormContainer m-t-20">
				<dl>
					<dt><span class="Required">*</span> %%LNG_EmailAddress%%:</dt>
					<dd><input type="email" class="Textbox" name="email" id="email" /> </dd>
					<dt>&nbsp;</dt>
					<dd><input class="btn" type="submit" value="%%LNG_Continue%%" /></dd>
				</dl>
			</div>
		</form>
		<script type="text/javascript">
		//<![CDATA[
		document.getElementById("email").focus();
		//]]>
		</script>
		%%Panel.ForgotPasswordJavaScript%%
	</div>
</div>