<div id="SearchForm" class="cf search-form">
	<form action="%%GLOBAL_ShopPath%%/search.php" method="get" id="searchForm" onsubmit="return check_small_search_form()">
		<label for="search_query">%%LNG_Search%%</label>
		<input type="text" name="search_query" id="search_query" class="Textbox autobox search-form__textbox" value="%%LNG_Search%%" />		
		<button type="submit" class="search-form__submit-btn" data-status="0"></button>
	</form>
</div>

<script type="text/javascript">
	var QuickSearchAlignment = 'right';
	var QuickSearchWidth = '390px';
	lang.EmptySmallSearch = "%%LNG_EmptySmallSearch%%";
	// uniform() is deprecated in Blueprint theme; remove binding below when removing uniform
	$(document).ajaxComplete(function() {
		$('input[type=checkbox], select').not('.UniApplied').uniform();
	});
</script>