<div class="header">
	<div class="inner">

		<div id="AjaxLoading">
			<div class="ajax-loader">
				<img src="%%GLOBAL_IMG_PATH%%/loader.png" alt="" />&nbsp;%%LNG_LoadingPleaseWait%%
			</div>
		</div>

		%%GLOBAL_MaintenanceNotice%%
		%%Panel.TopMenu%%
		<div class="header__mobile-top-menu">
		 	<div class="container">
		        <div class="row">
		            <div class="col-md-12">
						<ul>
							<li><a href="%%GLOBAL_ShopPath%%/giftcertificates.php"><i class="fa fa-gift"></i></a></li>
							<li><a href="%%GLOBAL_ShopPath%%/wishlist.php"><i class="fa fa-star-o"></i></a></li>
							<li><a href="%%GLOBAL_ShopPath%%/account.php"><i class="fa fa-user"></i></a></li>
							<li class="user-log">
								<a href="%%GLOBAL_ShopPath%%/login.php">
									<i class="fa fa-sign-in"></i> 
								</a>
							</li>
							<li>
								<a href="%%GLOBAL_ShopPath%%/cart.php">
									<i class="fa fa-shopping-cart"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="MobileMenu-Display">
			%%Panel.SideCategoryList%%
		</div>
		<div id="Header" class="header__main">
			<div class="container">
				<div class="row">
					
					<div id="ToggleMenu">
						Menu
					</div>
				</div>
			</div>
		</div>

		<div class="PageMenu header__page-menu">
			<div class="container">
				<div class="row">
					<div id="MobileMenu-Button">
						<div class="close_icon">
							<p></p>
							<p></p>
							<p></p>  
						</div>
						<span>CLOSE MENU</span>
					</div>
					<div class="col-md-3 HeaderLogo">
						%%GLOBAL_HeaderLogo%%
					</div>
					<div class="col-md-9 CategoryMenu">
						%%Panel.SideCategoryList%%
					</div>
					<div class="HeaderSearch">
						%%Panel.HeaderSearch%%
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
