<div class="Block NewProducts Moveable Panel" id="HomeNewProducts" style="display:%%GLOBAL_HideHomeNewProductsPanel%%">
    <h2> <!-- %%SNIPPET_HomeNewProductsFeed%% --> %%LNG_NewProducts%%</h2>
    <div class="border-blue"></div>
    <div class="BlockContent">
        <ul class="ProductList">
            %%SNIPPET_HomeNewProducts%%
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>