<div class="Block FeaturedProducts Moveable Panel"  id="HomeFeaturedProducts" style="display:%%GLOBAL_HideHomeFeaturedProductsPanel%%">
    <h2>%%LNG_FeaturedProducts%%</h2>
   	<div class="border-blue"></div>
    <div class="BlockContent">
        <ul class="ProductList">
            %%SNIPPET_HomeFeaturedProducts%%
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>