%%GLOBAL_NewsletterBoxControlScript%%
<div class="newsletter-subscription" id="SideNewsletterBox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="newsletter-subscription__title">%%LNG_HC_signupnewsletter%%</h4>
                <form action="%%GLOBAL_ShopPath%%/subscribe.php" method="post" id="subscribe_form" class="newsletter-subscription__form subscribe_form" name="subscribe_form">
                    <input type="hidden" name="action" value="subscribe" />
                    <input class="Textbox autobox newsletter-subscription__textbox" placeholder="Name" id="nl_first_name" name="nl_first_name" type="text" />
                    <input class="Textbox autobox newsletter-subscription__textbox" placeholder="Email" id="nl_email" name="nl_email" type="email" />
                    <input value="%%LNG_HC_Submit%%" class="btn newsletter-subscription__submit-btn" type="submit" />
                </form>
            </div>
        </div>
    </div>
</div>
%%Panel.NewsletterJavaScript%%
