<div class="Block SideRelatedProducts Moveable Panel" style="display:%%GLOBAL_HideRelatedProductsPanel%%" id="SideProductRelated">
	<h2 class="subtitle">%%LNG_RelatedProducts%%</h2>

	<div class="prodAccordionContent">
		<div class="BlockContent">
			<ul class="ProductList">
				%%SNIPPET_SideProductsRelated%%
			</ul>
		</div>
	</div>
	
</div>