<div class="Block Moveable Panel" id="SimilarProductsByCustomerViews">
	<h2 class="subtitle">%%LNG_HC_customerviewed%%</h2>
	<div class="prodAccordionContent">
		<div class="BlockContent">
			<ul class="ProductList">
				%%SNIPPET_SimilarProductsByCustomerViews%%
			</ul>
		</div>
	</div>
</div>
