<div class="TopMenu header__top-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul style="display:%%GLOBAL_HidePurchasingOptions%%" class="">
                    <li class="js-drawermenu-store-phone-container" %%GLOBAL_ShowStorePhoneNumber%%>
                        <div class="phoneIcon">%%LNG_HC_calluson%% <span class="js-drawermenu-store-phone">%%GLOBAL_StorePhoneNumber%%</span></div>
                    </li>
                    <li style="%%GLOBAL_LiveChatCodeEnabled%%" class="HeaderLiveChat">
                        %%GLOBAL_LiveChatCode%%
                    </li>
                        %%SNIPPET_TopMenuGiftCertificates%%
                    <li style="display:%%GLOBAL_HideWishlist%%" class="wishLink">
                        <a href="%%GLOBAL_ShopPath%%/wishlist.php">Wish Lists</a>
                    </li>
                    <li style="display:%%GLOBAL_HideAccountOptions%%" class="First">
                        <a href="%%GLOBAL_ShopPath%%/account.php">%%LNG_YourAccount%%</a>
                    </li>
                    <li style="display:%%GLOBAL_HideAccountOptions%%">
                        <div>%%GLOBAL_LoginOrLogoutText%%</div>
                    </li>
                    <li class="js-drawermenu-currency-converter">
                        <div class="currency-converter">
                            <p>%%GLOBAL_AllPricesAreInCurrency%%</p>
                            %%Panel.SideCurrencySelector%%
                        </div>
                    </li>
                </ul>
                <div style="Display:none;" >
                    %%Panel.SideCartContents%%
                </div>

                <div class="headercart" style="display:%%GLOBAL_HideCartOptions%%">
                    <i class="icon" title="View Cart">&nbsp;</i>
                    <a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%">
                        <span class="cartCount"></span> -
                        <span class="cartCost"></span>
                    </a>
                </div> 
               <!-- <div class="last CartLink js-drawermenu-cart" style="display:%%GLOBAL_HideCartOptions%%">
                    <i class="icon" title="View Cart">&nbsp;</i><a href="%%GLOBAL_ShopPathNormal%%/cart.php" title="%%LNG_ViewCart%%"><span>%%GLOBAL_CartItems%%</span></a>

                </div> -->
            </div>
        </div>
    </div>
</div>
