.footer .facebookandtestimonial .row {
  background-color: #D209A5;
}
.footer .newsletter-subscription {
  padding: 15px 0;
}
.footer .newsletter-subscription input {
  padding: 0 1em;
  height: 35px;
}
.footer .footer-main {
  padding: 20px 0;
}
