.footer {
	.facebookandtestimonial{
		.row{
			background-color: #D209A5;
			h4{    
				font-size: 22px;
			    font-weight: 400;
			    color: #fff;
			    margin-bottom: 10px;
			}
			.facebook-page{
				width: 350px;
   	 			margin: auto;
 			    padding: 30px 0;

			}
			.testimonial_side{
				background: url('../images/custom/NeverLookBack-Footerbackground.png') no-repeat;	
			    color: @white;
			    background-size: cover;
			    .testimonials{
			    	.carousel-indicators{
			    		display: none;
			    	}
			    	.carousel-inner{
			    		.item{
		    			    padding: 0 20px;
    			            min-height: 310px;
		    			    span{
				    			margin-top:10px;
				    		    float: right;
					    	}
			    		}
			    	}
			    	.carousel-control{
			    		background: none;
		    		    opacity: 1;
	    		     	width: auto;
					    height: 31px;
				     	top: 45px;
					    color: #FFFFFF;

					    i{
				    	    background: #D209A5;
    						border-radius: 50px;
    						padding: 5px;
					    }
					    &:hover{
					    	color: #D209A5;
							i{
								background: #fff;	
							}				    	
					    }

					   	&.left{
				   		    left: -10px;
					   	}
					   	&.right{
				   		    right: -10px;
					   	}
			    	}
			    	.item.next.left{
						margin: 0
					}
					.item.next.right{
						margin: 0
					}
					.item.prev.left{
						margin: 0
					}
					.item.prev.right{
						margin: 0
					}
			    }
				.details{
				    padding: 30px 0;
	                width: 85%;
			        margin-left: 15%;
				}
			}
		}
	}
	.newsletter-subscription {
		padding: 15px 0;
		text-align: center;
		.newsletter-subscription__title{
			margin-right: 20px;
			&:before{
				content: "\f1ea";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
		        margin-right: 20px;
    			font-size: 25px;
			}
		    text-transform: uppercase;
		}
		.newsletter-subscription__submit-btn{
			background-color: #00BAFF;
			text-transform: uppercase;	
		}
		input {
			padding: 0 1em;
			height: 35px;
		    width: 200px;
            margin: 5px 10px;
		}
	}

	.footer-main {
		.footer__col{
		    height: 250px;
		}
		padding: 20px 0;
		h4{
			font-weight: 400;
    		font-size: 19px;
		}
		ul{
			li{
				a{
					&:hover{
						color: @pink
					}
				}
			}
		}
		ul{
			float: none;
			li{
				float: none;
		    	font-weight: 300;
    			font-size: 16px;
			}
		}
		.CategoryList{
			.category-list{
			    -webkit-column-count: 2;
			    -moz-column-count: 2;
			    column-count: 2;
				li{

				}
			}
		}
		.RecentNews{
			ul{
				li{
					a{
						font-size: 14px;
						color: @pink

					}
					p{
						font-size: 12px;
					}
				}
			}
		}
		.SocialConnect {
			ul{
				li{
					position: relative;
				    display: inline-block;
				    float: none;
				    margin-right: 10px;
				    width: auto;
				    min-width: 35px;
				    height: 35px;
				    background: #D209A5;
				    border-radius: 50%;
				    text-align: center;
					a{
				       position: absolute;
					    top: 0;
					    bottom: 0;
					    margin: auto;
					    left: 0;
					    right: 0;
					}
				}
			}
		}
	}
	.footer-links{
		.powered-by{
			a{
				color: #fff;
				opacity: initial;
				&:hover{
					color: @pink
				}
			}
		}
	}
	
}