#ToggleMenu{
	display: none;
}


#MobileMenu-Display{
	display: block;
    top: 0;
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	display: none;
	&.active{
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		display: block;
	}
    background: #C02891;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    .CategoryList{
    	h3{
    		display: none;
    	}
    	.SideCategoryListClassic{
		    margin-top: 80px;
    		.category-list{
		        list-style: none;
    			margin: 0;
    			li{
				    text-align: left;
    				a{
					    display: block;
					  	padding: 10px 40px;
				  	    color: #fff;
				  	    border: none;
				  	    &:hover{
			  	    		border: solid 1px #fff;

				  	    }
    				}
    				ul{
    					display: none;
    				}
    			}
    		}
    	}
    }
}
.header {
	background-image: url('../images/custom/NeverLookBack-Headerbackground.png');
	ul{
		li{
			a{
				&:hover{
					color: #E2FF00;
					i{
						color: #E2FF00;
					}
				}
			}
		}
	}
	.header__top-menu {
		padding: 10px 0;
		background: none;
	}
	.header__top-menu{
		display: none;
	    margin-bottom: 20px;
		ul{    
			display: inline-block;
			text-align: left;
		    padding: 10px 0;
			li{
			    border: none;
			}
		}
		.headercart{
			display: inline-block;
			float: right;
		    background-color: #000;
		    padding: 10px 20px;
	        height: 40px;
		    a,i{
		    	display: inline-block;
	    	}
		    a{
		    	span{
	    		    font-family: 'Oswald', sans-serif;
			        margin: 0 5px;
				    font-weight: 400;
				    font-size: 13px;
		    	}
		    }
		}
	}
	.header__mobile-top-menu{
		display:block;
		ul{
			margin: 0;
			list-style: none;
			float: right;
			li{
				display: inline-block;
			    padding: 0 10px;
				a{
					font-size: 25px;
					color: @white;
				}
			}
		}
	}
	.header__main {

	}

	.header__page-menu {
		.row{
		    position: relative;
		}
	    z-index: inherit;
		margin: 0;

		#MobileMenu-Button{
		 	display: block;
		    vertical-align: middle;
			&.open{
				position: fixed;
		        left: 17px;
		        top: 20px;
	            z-index: 110;
	            div,
	            span{
            	    display: inline-block;
    				vertical-align: middle;
	            }  
	            span{
            	    margin: 10px 0 0 10px;
        	        color: #fff;
	            }
				.close_icon{
					p{
						background: #FF0000;
					}
				 	p:nth-child(1) {
					  	top: 18px;
					  	-webkit-transform: rotate(135deg);
					  	-moz-transform: rotate(135deg);
					  	-o-transform: rotate(135deg);
					  	transform: rotate(135deg);
					}
					p:nth-child(2) {
					  	opacity: 0;
					  	left: -60px;
					}
					p:nth-child(3) {
					  	top: 18px;
						-webkit-transform: rotate(-135deg);
					  	-moz-transform: rotate(-135deg);
					  	-o-transform: rotate(-135deg);
					  	transform: rotate(-135deg);
					}
				}
			}
			.close_icon{
			    margin-left:15px;
			    float: left;
			    position: inherit;
			    z-index: 110;
		        width: 50px;
			    height: 45px;
			    position: relative;
			    -webkit-transform: rotate(0deg);
			    -moz-transform: rotate(0deg);
			    -o-transform: rotate(0deg);
			    transform: rotate(0deg);
			    -webkit-transition: .5s ease-in-out;
			    -moz-transition: .5s ease-in-out;
			    -o-transition: .5s ease-in-out;
			    transition: .5s ease-in-out;
			    cursor: pointer;
				p{
					display: block;
				  	position: absolute;
				  	height: 9px;
			  		width: 100%;
				  	background: #eee;
					height: 5px;
					opacity: 1;
					left: 0;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: .25s ease-in-out;
					-moz-transition: .25s ease-in-out;
					-o-transition: .25s ease-in-out;
					transition: .25s ease-in-out;
					&:nth-child(1) {
					  	top: 0px;
					}
					&:nth-child(2) {
					  	top: 12px;
					}
					&:nth-child(3) {
				  		top: 24px;
					}
				}
			}
			span{
				display: none;
			}
		}
		.HeaderLogo{
			display: inline-block;
		    vertical-align: middle;
		}
		.CategoryMenu{
			display: none;
			.CategoryList{
			    width: 650px;
			    float: none;
				.category-list{
				    display: block;
				    -webkit-column-count: 4;
				    -moz-column-count: 4;
				    column-count: 4;
					li{
					    padding: 0;
					    margin: 0;
						display: block;
						a{
						    font-size: 21px;
						    text-transform: uppercase;
						    font-family: 'Oswald', sans-serif;
						    font-weight: 400;
					        padding-left: 20px;
							position: relative;
							&:before{
								content: "\f10c"; 
								font-family: FontAwesome; 
							    margin-right: 10px;
							    margin-left: 5px;
							    font-size: 10px;
						        position: absolute;
							    top: 8px;
						        left: 0;
							    bottom: 0;
							}
						}
						ul{
							display: none;
						}
					}
				}
			}
		}
		.HeaderSearch{
		    padding-bottom: 0;
		    position: absolute;
		    right: 15px;
		    bottom: 0;
	        z-index: 50;
		    #SearchForm{
		    	width: 300px;
				float: right;
		    	input{
		    		-webkit-transition: width 1s ease-in-out;
				    -moz-transition: width 1s ease-in-out;
				    -o-transition: width 1s ease-in-out;
				    transition: width 1s ease-in-out;
	    		   	width: 0;
				   	float: right;
			        background: #0565D1;
			        border: none;
		            color: #fff;
		            padding: 0 1em;
		    	}
		    	input.active-search{
	    		  	-webkit-transition: width 1s ease-in-out;
				    -moz-transition: width 1s ease-in-out;
				    -o-transition: width 1s ease-in-out;
				    transition: width 1s ease-in-out;
	    		    width: 300px;
    		        padding-right: 30px;
	    		  
		    	}
		    	.search-form__submit-btn{
		   			background-image: url('../images/custom/search-btn.png');
	   			    background-color: transparent;
	   			    background-size: cover;
					border: none;
				    width: 60px;
		    	}
		    	.QuickSearch{
		    		left:0;
		    		.QuickSearchResultName{
		    			a{
		    				color: @grey-light;
		    			}
		    		}
		    	}
		    }
		}
	}
}