.header {
  background-image: url('../images/custom/NeverLookBack-Headerbackground.png');
}
.header .header__top-menu {
  padding: 10px 0;
  background: none;
}
.header .header__page-menu .CategoryList {
  float: none;
}
.header .header__page-menu .CategoryList .category-list {
  display: block;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
.header .header__page-menu .CategoryList .category-list li {
  display: block;
}
.header .header__page-menu .CategoryList .category-list li ul {
  display: none;
  visibility: hidden;
}
