body {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

ul {
	margin: 0 0 0 17px;
	padding: 0;
}

a {

	&:hover {
		text-decoration: none;
	}
}

.SocialConnect {
	ul {
		li {
			a.icon-social.icon-social-theme {
				background-image: none;

				&:after {
					font-family: 'FontAwesome';
				}

				&.icon-facebook {
					&:after {
						content: '\f09a';
					}
				}

				&.icon-twitter {
					&:after {
						content: '\f099';
					}
				}

				&.icon-pinterest {
					&:after {
						content: '\f0d2';
					}
				}

				&.icon-googleplus {
					&:after {
						content: '\f0d5';
					}
				}

				&.icon-youtube {
					&:after {
						content: '\f167';
					}
				}

				&.icon-linkedin {
					&:after {
						content: '\f0e1';
					}
				}

				&.icon-instagram {
					&:after {
						content: '\f16d';
					}
				}
			}
		}
	}
}

.MaintenanceModeNotice {
	display: none;
}