#HomeSlideShow{
	.slide-content{
		.slide-overlay{
		    .slide-button{
		    	span{
	    		    background-color: @pink;
				    width: 150px;
				    margin: auto;
		    	}
		    }
		}
	}
}
#HomeFeaturedProducts,
#SideTopSellers,
#HomeNewProducts{
	h2{
		text-align: center;
		color: @grey;
	    text-transform: uppercase;
	    font-size: 25px;
	}
	.border-blue{
	    background: #1186E3;
	    height: 5px;
	    width: 40px;
	    margin: auto;
        margin-top: 10px;
        margin-bottom: 50px;
	}
}

.ProductList{
	li{
		.ProductImage{
			&:hover{
				.blur-color{
					display: block;
				}
				.ProductActionAdd{
				    a{
				    	display: block;
			    	}
				}
			}
			.blur-color{
				display: none;
			    position: absolute;
			    background-color: #000;
			    height: 100%;
			    width: 100%;
			    opacity: 0.8;
			}
			a{
				img{
				    width: 100%;
				}
			}
			.ProductActionAdd{
			    display: block;
			    position: absolute;
			    left: 0;
			    right: 0;
			    top: 125px;
			    margin: auto;
		        width: 150px;
			    a{
			    	display: none;
		    	    height: auto !important;
    				padding: 15px 20px;
				    background: transparent;
    				border: solid 1px @white;
				    text-transform: uppercase;
				    font-size: 16px;
			    }
			}
			.QuickViewBtn{
			    width: 150px;
				margin: auto !important;
			 	left: 0 !important;
			    right: 0 !important;
			    color: @white !important;
			    text-transform: uppercase;
				display: block;
			    background: transparent !important;
			    border: solid 1px @white;
			    padding: 6px;
			    font-size: 16px;
			}
		}
		.ProductDetails{

		}
	}
}
#prodAccordion{
	#ProductDescription, #ProductVideos{
		width: 100%;
		vertical-align: middle;
		display: inline-block;
	    float: left;
	}
	#ProductVideos{    
		margin-left: 0% !important;
	}
	.Panel{
	    width: 100%;
		float: left;
	}
}
#SideProductRelated{
 	width: 100%;
	float: left;
}
#ProductDetails{
	.ProductMain{
		.ProductDetailsGrid{
			.DetailRow{
				h1{
				    color: #000;
				    font-size: 37px;
				    font-weight: 300;
				}
				&.qty{
					.QuantityInput,
					.AddCartButton{
						display: inline-block;
					}
				}
				.ProductPrice{
					color: #8d8c8c;
				}
			}
		}
		.addto{
		    border-top: solid 1px @grey-light-very;
			padding-top: 20px;
			div{
				.AddCartButton{
					padding: 7px 40px;
				    height: auto;
				    width: auto;
				    text-transform: uppercase;
				    background-color: #054082;
				}
				.wishTrigger{
				    margin-left: 5px;
				    background-color: #fff;
				    border: solid 2px @grey-light-very;
				    height: auto;
				    width: auto;
				    i{
			    	    color: #E12A34;
					    font-size: 30px;
					    padding: 8px 0;
				    }
				}
			}
		}
	}
}


/* Cart Page*/
#ProductDetails{
	.ProductThumbImage{
	    min-height: 500px;
	}	
}

/* Cart Page*/
.Cart_page{
	.txtR{
		display: none;
	}
	.EstimateShippingLink,
	.KeepShopping .btn,
	{
		background-color: #D209A5;
		border-radius: 20px;
	}
	.CheckoutButton .btn ,
	{
		border-radius: 20px;
	}
}

/* Checkout Page*/
.ExpressCheckout{
	input[value="Continue"],
	.billingButton,
	.shippingButton{
	 	border-radius: 20px;
	}
}
