.border-radius (@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

.transition (@transition) {
	-webkit-transition: @transition;
    transition: @transition;
}

.transform (@transform) {
	-ms-transform: @transform;
    -webkit-transform: @transform;
    transform: @transform;
}

.box-shadow (@shadow){
	-webkit-box-shadow: @shadow;
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}