/* custom Small Screen  (small phones, 450px and up) */
@media (max-width: 420px) {
	.header{
		#MobileMenu-Button{
			.close_icon{
			    margin-left: 5px;
		        width: 40px;
		    }
		}
		.header__page-menu{
			.HeaderLogo{
			   	padding: 0;
    			padding-left: 5px;
    			a{
				    padding: 0;
    			}
			}
			.HeaderSearch{
			    position: inherit;
				#SearchForm{
					.search-form__textbox{
						float: right;
					}
				}
			}
		}
	}
}
/* Small Screen  (small phones, 480px and up) */
@media (min-width: 480px) {
	.header{
		.header__page-menu{
			.HeaderSearch{
				 #SearchForm{
				 	.QuickSearch{
				 		left: inherit;
				 	}
				 }
			}
		}
	}
	#HomeSlideShow{
		.slide-content{
			.slide-overlay{
			    width: 35%;
			    .slide-button{
			        margin-top: 41%;
				    position: absolute;
				    margin-left: 12%;
			    	span{
		    		    background-color: @pink;
					    font-family: 'Oswald', sans-serif;
					    font-weight: 400;
					    font-size: 22px;
					    padding: 10px 30px;
					    height: auto;
			    	}
			    }
			}
		}
	}
	.ProductList{
		li{
	        width: 250px !important;
			.ProductImage {
				.ProductActionAdd{
		            top: 100px;
				}
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.header{
		.header__top-menu{
			display: block
		}
		.header__mobile-top-menu{
			display: none;
		}

	}
	.ProductList{
	    text-align: left;
		li{
		    width: 185px !important;
			.ProductImage {
				>a{
				    height: 220px !important;
				}
				.ProductActionAdd{
			        top: 55px;
				}
			}
		}
	}
	.footer{
		.newsletter-subscription {
			input{
				width: 250px;
			}
		}
		.facebookandtestimonial{
			.row{
				.testimonial_side{
				    .testimonials{
						.carousel-inner{
				    		.item{
	    			            min-height: 200px;
				    		}
				    	}
			    	}
			    }
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#ToggleMenu{
		display: none;
	}
	#MobileMenu-Display{
		display: none;
		&.active{
			display: none;
		}
	}
	.header {
		.header__page-menu {
			#MobileMenu-Button{
				display: none;
			}
			.CategoryMenu{
				display: block;
			}
		}
	}
		.ProductList{
			li{
			    width: 240px !important;
				.ProductImage {
					>a{
					    height: 300px !important;
					}
					.ProductActionAdd{
					    top: 95px;
					}
				}
			}
		}
	#prodAccordion{
		#ProductDescription, #ProductVideos{
			width: 49%;
			vertical-align: middle;
			display: inline-block;
		    float: left;
		}
		#ProductVideos{    
			margin-left: 2% !important;
		}
	}
	/* ProductDetails */
	#ProductDetails{
		.ProductMain{
			.addto{
				.AddThisButtonBox{
				    float: right !important;
			        margin: 0 !important;
    				margin-top: 32px !important;
				}
			}
		}
	}

	.footer {
		.facebookandtestimonial{
			.row{
				.testimonial_side{
					background: url('../images/custom/NeverLookBack-Footerbackground.png') no-repeat;	
				    color: @white;
				    background-size: cover;
				    .testimonials{
				    	margin-top: 40px;
						.carousel-inner{
				    		.item{
	    			           min-height: 310px;
				    		}
				    	}
			    	}
			    }
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.ProductList{
		li{
			width: 290px !important;
			.ProductImage {
				>a{
				    height: 360px !important;
				}
				.ProductActionAdd{
				    top: 125px;
				}
			}
		}
	}
}