body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
ul {
  margin: 0 0 0 17px;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
.SocialConnect ul li a.icon-social.icon-social-theme {
  background-image: none;
}
.SocialConnect ul li a.icon-social.icon-social-theme:after {
  font-family: 'FontAwesome';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-facebook:after {
  content: '\f09a';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-twitter:after {
  content: '\f099';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-pinterest:after {
  content: '\f0d2';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-googleplus:after {
  content: '\f0d5';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-youtube:after {
  content: '\f167';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-linkedin:after {
  content: '\f0e1';
}
.SocialConnect ul li a.icon-social.icon-social-theme.icon-instagram:after {
  content: '\f16d';
}
.MaintenanceModeNotice {
  display: none;
}
/* ========== Layout ========== */
/* ========== Helpers / Msc. ========== */
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-l-30 {
  margin-left: 30px;
}
/* ========== Forms / Inputs / Buttons ========== */
/* ========== Header ========== */
#ToggleMenu {
  display: none;
}
#MobileMenu-Display {
  display: block;
  top: 0;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  display: none;
  background: #C02891;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
#MobileMenu-Display.active {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  display: block;
}
#MobileMenu-Display .CategoryList h3 {
  display: none;
}
#MobileMenu-Display .CategoryList .SideCategoryListClassic {
  margin-top: 80px;
}
#MobileMenu-Display .CategoryList .SideCategoryListClassic .category-list {
  list-style: none;
  margin: 0;
}
#MobileMenu-Display .CategoryList .SideCategoryListClassic .category-list li {
  text-align: left;
}
#MobileMenu-Display .CategoryList .SideCategoryListClassic .category-list li a {
  display: block;
  padding: 10px 40px;
  color: #fff;
  border: none;
}
#MobileMenu-Display .CategoryList .SideCategoryListClassic .category-list li a:hover {
  border: solid 1px #fff;
}
#MobileMenu-Display .CategoryList .SideCategoryListClassic .category-list li ul {
  display: none;
}
.header {
  background-image: url('../images/custom/NeverLookBack-Headerbackground.png');
}
.header ul li a:hover {
  color: #E2FF00;
}
.header ul li a:hover i {
  color: #E2FF00;
}
.header .header__top-menu {
  padding: 10px 0;
  background: none;
}
.header .header__top-menu {
  display: none;
  margin-bottom: 20px;
}
.header .header__top-menu ul {
  display: inline-block;
  text-align: left;
  padding: 10px 0;
}
.header .header__top-menu ul li {
  border: none;
}
.header .header__top-menu .headercart {
  display: inline-block;
  float: right;
  background-color: #000;
  padding: 10px 20px;
  height: 40px;
}
.header .header__top-menu .headercart a,
.header .header__top-menu .headercart i {
  display: inline-block;
}
.header .header__top-menu .headercart a span {
  font-family: 'Oswald', sans-serif;
  margin: 0 5px;
  font-weight: 400;
  font-size: 13px;
}
.header .header__mobile-top-menu {
  display: block;
}
.header .header__mobile-top-menu ul {
  margin: 0;
  list-style: none;
  float: right;
}
.header .header__mobile-top-menu ul li {
  display: inline-block;
  padding: 0 10px;
}
.header .header__mobile-top-menu ul li a {
  font-size: 25px;
  color: #ffffff;
}
.header .header__page-menu {
  z-index: inherit;
  margin: 0;
}
.header .header__page-menu .row {
  position: relative;
}
.header .header__page-menu #MobileMenu-Button {
  display: block;
  vertical-align: middle;
}
.header .header__page-menu #MobileMenu-Button.open {
  position: fixed;
  left: 17px;
  top: 20px;
  z-index: 110;
}
.header .header__page-menu #MobileMenu-Button.open div,
.header .header__page-menu #MobileMenu-Button.open span {
  display: inline-block;
  vertical-align: middle;
}
.header .header__page-menu #MobileMenu-Button.open span {
  margin: 10px 0 0 10px;
  color: #fff;
}
.header .header__page-menu #MobileMenu-Button.open .close_icon p {
  background: #FF0000;
}
.header .header__page-menu #MobileMenu-Button.open .close_icon p:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.header .header__page-menu #MobileMenu-Button.open .close_icon p:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.header .header__page-menu #MobileMenu-Button.open .close_icon p:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.header .header__page-menu #MobileMenu-Button .close_icon {
  margin-left: 15px;
  float: left;
  position: inherit;
  z-index: 110;
  width: 50px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.header .header__page-menu #MobileMenu-Button .close_icon p {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #eee;
  height: 5px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header .header__page-menu #MobileMenu-Button .close_icon p:nth-child(1) {
  top: 0px;
}
.header .header__page-menu #MobileMenu-Button .close_icon p:nth-child(2) {
  top: 12px;
}
.header .header__page-menu #MobileMenu-Button .close_icon p:nth-child(3) {
  top: 24px;
}
.header .header__page-menu #MobileMenu-Button span {
  display: none;
}
.header .header__page-menu .HeaderLogo {
  display: inline-block;
  vertical-align: middle;
}
.header .header__page-menu .CategoryMenu {
  display: none;
}
.header .header__page-menu .CategoryMenu .CategoryList {
  width: 650px;
  float: none;
}
.header .header__page-menu .CategoryMenu .CategoryList .category-list {
  display: block;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
.header .header__page-menu .CategoryMenu .CategoryList .category-list li {
  padding: 0;
  margin: 0;
  display: block;
}
.header .header__page-menu .CategoryMenu .CategoryList .category-list li a {
  font-size: 21px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding-left: 20px;
  position: relative;
}
.header .header__page-menu .CategoryMenu .CategoryList .category-list li a:before {
  content: "\f10c";
  font-family: FontAwesome;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 10px;
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 0;
}
.header .header__page-menu .CategoryMenu .CategoryList .category-list li ul {
  display: none;
}
.header .header__page-menu .HeaderSearch {
  padding-bottom: 0;
  position: absolute;
  right: 15px;
  bottom: 0;
  z-index: 50;
}
.header .header__page-menu .HeaderSearch #SearchForm {
  width: 300px;
  float: right;
}
.header .header__page-menu .HeaderSearch #SearchForm input {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 0;
  float: right;
  background: #0565D1;
  border: none;
  color: #fff;
  padding: 0 1em;
}
.header .header__page-menu .HeaderSearch #SearchForm input.active-search {
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  width: 300px;
  padding-right: 30px;
}
.header .header__page-menu .HeaderSearch #SearchForm .search-form__submit-btn {
  background-image: url('../images/custom/search-btn.png');
  background-color: transparent;
  background-size: cover;
  border: none;
  width: 60px;
}
.header .header__page-menu .HeaderSearch #SearchForm .QuickSearch {
  left: 0;
}
.header .header__page-menu .HeaderSearch #SearchForm .QuickSearch .QuickSearchResultName a {
  color: #838383;
}
/* ========== Banner ========== */
/* ========== Maincontainer ========== */
#HomeSlideShow .slide-content .slide-overlay .slide-button span {
  background-color: #d209a5;
  width: 150px;
  margin: auto;
}
#HomeFeaturedProducts h2,
#SideTopSellers h2,
#HomeNewProducts h2 {
  text-align: center;
  color: #3e3e3e;
  text-transform: uppercase;
  font-size: 25px;
}
#HomeFeaturedProducts .border-blue,
#SideTopSellers .border-blue,
#HomeNewProducts .border-blue {
  background: #1186E3;
  height: 5px;
  width: 40px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}
.ProductList li .ProductImage:hover .blur-color {
  display: block;
}
.ProductList li .ProductImage:hover .ProductActionAdd a {
  display: block;
}
.ProductList li .ProductImage .blur-color {
  display: none;
  position: absolute;
  background-color: #000;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.ProductList li .ProductImage a img {
  width: 100%;
}
.ProductList li .ProductImage .ProductActionAdd {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 125px;
  margin: auto;
  width: 150px;
}
.ProductList li .ProductImage .ProductActionAdd a {
  display: none;
  height: auto !important;
  padding: 15px 20px;
  background: transparent;
  border: solid 1px #ffffff;
  text-transform: uppercase;
  font-size: 16px;
}
.ProductList li .ProductImage .QuickViewBtn {
  width: 150px;
  margin: auto !important;
  left: 0 !important;
  right: 0 !important;
  color: #ffffff !important;
  text-transform: uppercase;
  display: block;
  background: transparent !important;
  border: solid 1px #ffffff;
  padding: 6px;
  font-size: 16px;
}
#prodAccordion #ProductDescription,
#prodAccordion #ProductVideos {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  float: left;
}
#prodAccordion #ProductVideos {
  margin-left: 0% !important;
}
#prodAccordion .Panel {
  width: 100%;
  float: left;
}
#SideProductRelated {
  width: 100%;
  float: left;
}
#ProductDetails .ProductMain .ProductDetailsGrid .DetailRow h1 {
  color: #000;
  font-size: 37px;
  font-weight: 300;
}
#ProductDetails .ProductMain .ProductDetailsGrid .DetailRow.qty .QuantityInput,
#ProductDetails .ProductMain .ProductDetailsGrid .DetailRow.qty .AddCartButton {
  display: inline-block;
}
#ProductDetails .ProductMain .ProductDetailsGrid .DetailRow .ProductPrice {
  color: #8d8c8c;
}
#ProductDetails .ProductMain .addto {
  border-top: solid 1px #e8e8e8;
  padding-top: 20px;
}
#ProductDetails .ProductMain .addto div .AddCartButton {
  padding: 7px 40px;
  height: auto;
  width: auto;
  text-transform: uppercase;
  background-color: #054082;
}
#ProductDetails .ProductMain .addto div .wishTrigger {
  margin-left: 5px;
  background-color: #fff;
  border: solid 2px #e8e8e8;
  height: auto;
  width: auto;
}
#ProductDetails .ProductMain .addto div .wishTrigger i {
  color: #E12A34;
  font-size: 30px;
  padding: 8px 0;
}
/* Cart Page*/
#ProductDetails .ProductThumbImage {
  min-height: 500px;
}
/* Cart Page*/
.Cart_page .txtR {
  display: none;
}
.Cart_page .EstimateShippingLink,
.Cart_page .KeepShopping .btn {
  background-color: #D209A5;
  border-radius: 20px;
}
.Cart_page .CheckoutButton .btn {
  border-radius: 20px;
}
/* Checkout Page*/
.ExpressCheckout input[value="Continue"],
.ExpressCheckout .billingButton,
.ExpressCheckout .shippingButton {
  border-radius: 20px;
}
/* ========== Productlist ========== */
.ProductList {
  text-align: center;
}
.ProductList li {
  width: 280px !important;
}
.ProductList li .ProductImage > a {
  height: 320px !important;
}
.ProductList li .ProductImage .ProductActionAdd {
  top: 100px;
}
/* ========== Sidebar ========== */
/* ========== Widget / Secondary ========== */
/* ========== Footer ========== */
.footer .facebookandtestimonial .row {
  background-color: #D209A5;
}
.footer .facebookandtestimonial .row h4 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
}
.footer .facebookandtestimonial .row .facebook-page {
  width: 350px;
  margin: auto;
  padding: 30px 0;
}
.footer .facebookandtestimonial .row .testimonial_side {
  background: url('../images/custom/NeverLookBack-Footerbackground.png') no-repeat;
  color: #ffffff;
  background-size: cover;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-indicators {
  display: none;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-inner .item {
  padding: 0 20px;
  min-height: 310px;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-inner .item span {
  margin-top: 10px;
  float: right;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-control {
  background: none;
  opacity: 1;
  width: auto;
  height: 31px;
  top: 45px;
  color: #FFFFFF;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-control i {
  background: #D209A5;
  border-radius: 50px;
  padding: 5px;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-control:hover {
  color: #D209A5;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-control:hover i {
  background: #fff;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-control.left {
  left: -10px;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-control.right {
  right: -10px;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .item.next.left {
  margin: 0;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .item.next.right {
  margin: 0;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .item.prev.left {
  margin: 0;
}
.footer .facebookandtestimonial .row .testimonial_side .testimonials .item.prev.right {
  margin: 0;
}
.footer .facebookandtestimonial .row .testimonial_side .details {
  padding: 30px 0;
  width: 85%;
  margin-left: 15%;
}
.footer .newsletter-subscription {
  padding: 15px 0;
  text-align: center;
}
.footer .newsletter-subscription .newsletter-subscription__title {
  margin-right: 20px;
  text-transform: uppercase;
}
.footer .newsletter-subscription .newsletter-subscription__title:before {
  content: "\f1ea";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-right: 20px;
  font-size: 25px;
}
.footer .newsletter-subscription .newsletter-subscription__submit-btn {
  background-color: #00BAFF;
  text-transform: uppercase;
}
.footer .newsletter-subscription input {
  padding: 0 1em;
  height: 35px;
  width: 200px;
  margin: 5px 10px;
}
.footer .footer-main {
  padding: 20px 0;
}
.footer .footer-main .footer__col {
  height: 250px;
}
.footer .footer-main h4 {
  font-weight: 400;
  font-size: 19px;
}
.footer .footer-main ul li a:hover {
  color: #d209a5;
}
.footer .footer-main ul {
  float: none;
}
.footer .footer-main ul li {
  float: none;
  font-weight: 300;
  font-size: 16px;
}
.footer .footer-main .CategoryList .category-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.footer .footer-main .RecentNews ul li a {
  font-size: 14px;
  color: #d209a5;
}
.footer .footer-main .RecentNews ul li p {
  font-size: 12px;
}
.footer .footer-main .SocialConnect ul li {
  position: relative;
  display: inline-block;
  float: none;
  margin-right: 10px;
  width: auto;
  min-width: 35px;
  height: 35px;
  background: #D209A5;
  border-radius: 50%;
  text-align: center;
}
.footer .footer-main .SocialConnect ul li a {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.footer .footer-links .powered-by a {
  color: #fff;
  opacity: initial;
}
.footer .footer-links .powered-by a:hover {
  color: #d209a5;
}
/* ========== Module ========== */
/* Newsletter Form */
.newsletter-subscription .newsletter-subscription__title {
  display: inline-block;
}
.newsletter-subscription .newsletter-subscription__form {
  display: inline-block;
  vertical-align: middle;
}
.newsletter-subscription .newsletter-subscription__textbox {
  display: inline-block;
  vertical-align: middle;
}
.newsletter-subscription .newsletter-subscription__submit-btn {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
}
/* Search Form */
/* Login Form */
.login-form .login-form__title {
  margin-bottom: 20px;
}
.login-form .login-form__submit-btn,
.login-form .login-form__link {
  margin-top: 20px;
}
/* Express  Checkout */
.express-checkout .express-checkout__title {
  margin-bottom: 20px;
}
/* ========== Media Querries ========== */
/* custom Small Screen  (small phones, 450px and up) */
@media (max-width: 420px) {
  .header #MobileMenu-Button .close_icon {
    margin-left: 5px;
    width: 40px;
  }
  .header .header__page-menu .HeaderLogo {
    padding: 0;
    padding-left: 5px;
  }
  .header .header__page-menu .HeaderLogo a {
    padding: 0;
  }
  .header .header__page-menu .HeaderSearch {
    position: inherit;
  }
  .header .header__page-menu .HeaderSearch #SearchForm .search-form__textbox {
    float: right;
  }
}
/* Small Screen  (small phones, 480px and up) */
@media (min-width: 480px) {
  .header .header__page-menu .HeaderSearch #SearchForm .QuickSearch {
    left: inherit;
  }
  #HomeSlideShow .slide-content .slide-overlay {
    width: 35%;
  }
  #HomeSlideShow .slide-content .slide-overlay .slide-button {
    margin-top: 41%;
    position: absolute;
    margin-left: 12%;
  }
  #HomeSlideShow .slide-content .slide-overlay .slide-button span {
    background-color: #d209a5;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 10px 30px;
    height: auto;
  }
  .ProductList li {
    width: 250px !important;
  }
  .ProductList li .ProductImage .ProductActionAdd {
    top: 100px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header .header__top-menu {
    display: block;
  }
  .header .header__mobile-top-menu {
    display: none;
  }
  .ProductList {
    text-align: left;
  }
  .ProductList li {
    width: 185px !important;
  }
  .ProductList li .ProductImage > a {
    height: 220px !important;
  }
  .ProductList li .ProductImage .ProductActionAdd {
    top: 55px;
  }
  .footer .newsletter-subscription input {
    width: 250px;
  }
  .footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-inner .item {
    min-height: 200px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #ToggleMenu {
    display: none;
  }
  #MobileMenu-Display {
    display: none;
  }
  #MobileMenu-Display.active {
    display: none;
  }
  .header .header__page-menu #MobileMenu-Button {
    display: none;
  }
  .header .header__page-menu .CategoryMenu {
    display: block;
  }
  .ProductList li {
    width: 240px !important;
  }
  .ProductList li .ProductImage > a {
    height: 300px !important;
  }
  .ProductList li .ProductImage .ProductActionAdd {
    top: 95px;
  }
  #prodAccordion #ProductDescription,
  #prodAccordion #ProductVideos {
    width: 49%;
    vertical-align: middle;
    display: inline-block;
    float: left;
  }
  #prodAccordion #ProductVideos {
    margin-left: 2% !important;
  }
  /* ProductDetails */
  #ProductDetails .ProductMain .addto .AddThisButtonBox {
    float: right !important;
    margin: 0 !important;
    margin-top: 32px !important;
  }
  .footer .facebookandtestimonial .row .testimonial_side {
    background: url('../images/custom/NeverLookBack-Footerbackground.png') no-repeat;
    color: #ffffff;
    background-size: cover;
  }
  .footer .facebookandtestimonial .row .testimonial_side .testimonials {
    margin-top: 40px;
  }
  .footer .facebookandtestimonial .row .testimonial_side .testimonials .carousel-inner .item {
    min-height: 310px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ProductList li {
    width: 290px !important;
  }
  .ProductList li .ProductImage > a {
    height: 360px !important;
  }
  .ProductList li .ProductImage .ProductActionAdd {
    top: 125px;
  }
}
/* ========== Animation ========== */
